
process.container = 'ncbi/blast:latest'
docker.enabled = true
nextflow.enable.dsl = 2


params {
    assembly = "$baseDir/data/assembly.fasta"
    databaseName = "noTrio"
    threads = 4
    outdir = "result"
}

process blast {
    container = 'ncbi/blast:latest'
  
	script:
	"""
	#!/usr/bin/bash
	makeblastdb -in $params.assemblt -dbtype 'nucl' -out $params.databaseName
	mkdir DB
	mv blastDB.n* DB
	"""
}
